<!-- <p id="notice"><%= notice %></p> -->

<!-- <p> -->
<div class="container">
  <div class="eval">
    <div class=".col-xs-6 .col-sm-3 ">
      <% def positive_words %>
        <% @p_words = ["happy", "Accurate", "instantly", "Advantage", "Always", "A cut above", "Bargain", "Certain", "Certainly", "Confident", "Convenient", "Definitely", "Delighted", "Easy", "Ecstatic", "Effective", "Emphasize", "Extremely", "Freedom", "Guaranteed", "Highly", "effective/", "likely", "Introducing", "First", "ever", "Investment", "conscientious", "approving", "honored", "privileged", "adaptable", "relaxed", "Astonishing", "Astounded", "assured", "fulfilled", "genuine", "authentic", "self-sufficient", "reliable", "sure", "secure", "stable", "honest", "truthful", "supportive", "excellent", "responsible", "solid", "trusting", "supported", "Absolutely", "clarity", "transparency", "humility", "blissful", "joyous", "delighted", "overjoyed", "gleeful", "thankful", "festive", "ecstatic", "satisfied", "cheerful", "sunny", "elated", "jubilant", "jovial", "fun-loving", "lighthearted", "glorious", "innocent", "child-like", "gratified", "euphoric", "on", "top", "of", "the", "world", "playful", "courageous", "energetic", "liberated", "optimistic", "frisky", "animated", "spirited", "thrilled", "wonderful", "funny", "intelligent", "exhilarated", "spunky", "youthful", "vigorous", "tickled", "creative", "constructive", "helpful", "resourceful", "at", "ease", "comfortable", "pleased", "encouraged", "surprised", "content", "serene", "bright", "blessed", "Vibrant", "Bountiful", "Glowing", "motivated", "eager", "keen", "earnest", "inspired", "enthusiastic", "bold", "brave", "daring", "hopeful", "upbeat", "clear", "balanced", "fine", "okay", "grateful", "carefree", "adequate", "forgiving", "sincere", "uplifted", "unburdened", "confident", "unique", "dynamic", "tenacious", "cooperative", "productive", "exuberant", "in", "zone", "responsive", "Empowered", "Focused", "Capable", "calm", "quiet", "certain", "glowing", "radiant", "beaming", "reflective", "smiling", "grounded", "unhurried", "open-minded", "efficient", "non-controlling", "unassuming", "fluid", "light", "spontaneous", "aware", "healthy", "meditative", "still", "rested", "waiting", "laughing", "graceful", "natural", "steady", "centered", "placid", "Clear", "Stoic", "Aligned", "understanding", "great", "peaceful", "easy", "lucky", "amazed", "fortunate", "free", "provocative", "sympathetic", "clever", "interested", "receptive", "important", "accepting", "kind", "glad", "and", "merry", "reassured", "LOVE", "INTERESTED", "POSITIVE", "STRONG", "loving", "concerned", "considerate", "affected", "affectionate", "fascinated", "sensitive", "intrigued", "intent", "tender", "absorbed", "anxious", "rebellious", "devoted", "inquisitive", "attracted", "nosy", "determined", "passionate", "snoopy", "excited", "admiration", "engrossed", "hardy", "warm", "curious", "touched", "sympathy", "close", "challenged", "loved", "comforted", "re-enforced", "drawn", "toward", "good", "best", "in the zone", "Magical", "Instantly", "Missing Out", "Magnificent", "Miracle", "Most Important", "Profitable", "Proven", "Quick", "Remarkable", "Results", "Revolutionary", "Safe", "Save", "Sensational", "Startling", "Strongly ", "Superb", "Superior", "Tremendous", "Truly", "Trustworthy", "Urge", "Worthwhile", "Limited", "bargain", "Discount", "Explode", "Extra", "Fortune", "Freebie", "Jackpot", "Reduced", "Instant Savings", "Skyrocket", "A cut above", "Highly effective", "First ever", "on top of the", "at ease"].map(&:downcase) %>       
        <% @new_text = @russ_post.body.downcase.split(" ") %>
        <% arr = [] %>
        <% @new_text.each do |word| %>
        	<% if @p_words.include?(word) %>
        		<% arr.push(word) %>
        	<% end %>
        <% end %>
        <% arr.length + 1 %>
      <% end %>
      <% positive_words %>

      <% def negative_words %>
        <% @n_words = ["ANGRY", "DEPRESSED", "CONFUSED", "HELPLESS", "irritated", "lousy", "upset", "incapable", "enraged", "disappointed", "doubtful", "alone", "hostile", "discouraged", "uncertain", "paralyzed", "insulting", "ashamed", "indecisive", "fatigued", "sore", "powerless", "perplexed", "useless", "annoyed", "diminished", "embarrassed", "inferior", "guilty", "hesitant", "vulnerable", "hateful", "dissatisfied", "shy", "empty", "unpleasant", "miserable", "stupefied", "forced", "offensive", "detestable", "disillusioned", "bitter", "repugnant", "unbelieving", "despair", "aggressive", "despicable", "skeptical", "frustrated", "resentful", "disgusting", "distrustful", "distressed", "inflamed", "abominable", "misgiving", "woeful", "provoked", "terrible", "lost", "pathetic", "incensed", "in", "unsure", "tragic", "infuriated", "sulky", "uneasy", "a", "stew", "cross", "bad", "pessimistic", "dominated", "worked", "up", "sense", "of", "loss", "tense", "boiling", "fuming", "indignant", "INDIFFERENT", "AFRAID", "HURT", "SAD", "insensitive", "fearful", "crushed", "tearful", "dull", "terrified", "tormented", "sorrowful", "nonchalant", "suspicious", "deprived", "pained", "neutral", "anxious", "grief", "reserved", "alarmed", "tortured", "anguish", "weary", "panic", "dejected", "desolate", "bored", "nervous", "rejected", "desperate", "preoccupied", "scared", "injured", "cold", "worried", "offended", "unhappy", "disinterested", "frightened", "afflicted", "lonely", "lifeless", "timid", "aching", "grieved", "shaky", "victimized", "mournful", "restless", "heartbroken", "dismayed", "agonized", "threatened", "appalled", "cowardly", "humiliated", "quaking", "wronged", "menaced", "alienated", "wary", "Secret", "Confidential", "Controversial", "Underground", "What", "no", "one", "tells", "you", "Have", "heard", "Cover-up", "Forbidden", "Banned", "Behind", "the", "Scenes", "agenda", "plot", "Insider", "Off-the", "record", "Blacklisted", "Censored", "Concealed", "Confessions", "Unbelievable", "Covert", "No", "talks", "about", "Hidden", "underground", "stressed", "uncomfortable", "dishonest", "disdainful", "manipulative", "judgmental", "argumentative", "authoritative", "condescending", "distracted", "disoriented", "off-kilter", "frenzied", "blushing", "awkward", "distraught", "doomed", "overwhelmed", "incompetent", "incapacitated", "trapped", "squirming", "jittery", "woozy", "twitching", "compulsive", "uncaring", "uninterested", "unresponsive", "panicked", "insecure", "Deceived", "Helplessness", "Disempowered", "Ordeal", "Outrageousness", "Provoke", "Repulsive", "Scandal", "Severe", "Shameful", "Shocking", "Terrible", "Tragic", "Unreliable", "Unstable", "Wicked", "Aggravate", "Agony", "Appalled", "Atrocious", "Corrupting", "Damaging", "Deplorable", "Disadvantages", "Disastrous", "Disgusted", "Dreadful", "Eliminate", "Harmful", "Harsh", "Inconsiderate", "controlling", "malicious", "critical", "violent", "vindictive", "sadistic", "spiteful", "furious", "agitated", "antagonistic", "repulsed", "quarrelsome", "venomous", "rebellious", "exasperated", "impatient", "contrary", "condemning", "seething", "scornful", "sarcastic", "poisonous", "jealous", "ticked", "off", "revengeful", "retaliating", "reprimanding", "self-hating", "vilified", "unjustified", "violated"]
    .map(&:downcase) %>
        <% neg_arr = [] %>
        <% @new_text.each do |word| %>
          <% if @n_words.include?(word) %>
            <% neg_arr.push(word) %>
          <% end %>
        <% end %>
        <% neg_arr.length + 1 %>
      <% end %>
      <% negative_words %> 

     <% if positive_words > negative_words %>
      <%= "According To Bertrand This Text Is Emotionally Positive" %>
      <% elsif negative_words > positive_words %>
      <%= "According To Bertrand This Text Is Emotionally Negative" %>
      <% else %>
      <%= "According To Bertrand This Text Is Emotionally Neutral" %>
      <% end %>

      </div>
    </div>
  </div>
<div class="container">
  <div class="image-eval">
    <div class=".col-xs-6 .col-sm-3 ">
      <% if positive_words > negative_words %>
      <%= image_tag "BertrandHappy.png", class: "eval-image" %>
      <% elsif negative_words > positive_words %>
      <%= image_tag "BertrandSad.png", class: "eval-image" %>
      <% else %>
      <%= image_tag "BertrandNeutral.png", class: "eval-image" %>

      <% end %>
     </div>
  </div>
</div>
<div class="bottom-buttons">
  <div class="button">
  <%= link_to 'New Post', '/russ_posts/new' %>
  </div>
  <div class="button">
  <%= link_to 'Home', posts_path %>
  </div>
</div>
